.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		width: 100%;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				margin-left: 3rem;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.menu-toggle{
	padding: 0;
	border : 0;
	transform: rotate(0);
	transition: transform .5s;
	background: white;
	padding: 7px;
}
.menu-toggle img{
	width: 7vw;
}


.menu-toggle:hover,
.menu-toggle:focus{
	border-radius: 100px;
	background-color: rgb(230, 230, 230);
}

.menu-toggle:focus{
	outline: 1px solid white;
	outline-offset: -4px;
}

.menu-toggle:active{
transform: scale(0.9);
}
.main-navigation.toggled > .menu-toggle{
	transform: rotate(90deg);
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;

}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		height: 2rem;
		justify-content: space-around;
		align-items: center;
		position: static;
	}
}

.main-navigation ul{
	background-color: rgb(109, 58, 160);
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
